.onboarding-step2 {
    padding: 2rem;
    display: flex;
    flex-direction: column; // 👈 importante
    align-items: center;
  
    iframe {
      max-width: 100%;
      border: none;
      border-radius: 8px;
      min-height: 800px;
      width: 100%;
    }
  
    .next-button-wrapper {
      margin-top: 2rem; // espacio entre iframe y botón
      display: flex;
      justify-content: left;
      width: 100%;
    }
  
    button {
      background-color: #25A488;
      color: white;
      font-weight: 500;
      border-radius: 2px;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      line-height: 1;
      white-space: nowrap;
    }
  }